/** STYLES FOR INBOX.HTML **/
/*************************/
/* INBOX CONTAINER*/
/*************************/
.inbox-container {
    padding: 9.6rem 0;
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: start;
    gap: 0 6.4rem;
}

.side-navigation {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.btn-side-nav {
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    transition: all 0.3s;
}

.btn-side-nav:hover,
.selected {
    background-color: rgba(24, 100, 171, 0.1);
    color: #1864ab;
}

/*************************/
/* EMAILS SECTION */
/*************************/
.section-emails {
    overflow-y: scroll;
    max-height: 80vh;
}

.email-card {
    background-color: #eee;
    width: 100%;
    padding: 2.4rem;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: all 0.4s;
}

.email-card:hover {
    background-color: #ddd;
}

.email-header {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.email-address {
    font-size: 1.6rem;
    font-weight: 400;
}

.full-name {
    font-size: 2rem;
    font-weight: 600;
}

.email-subject {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: auto;
}

.email-content-container {
    padding: 3.2rem 0 0;
    width: 100%;
}

.email-content {
    font-size: 1.8rem;
    line-height: 1.8;
}

.hidden {
    display: none;
}

/*************************/
/* TAGS SECTION */
/*************************/
.section-tags {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.tag-heading {
    color: #333;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
}

.tag--module-change .tag-content-box,
.tag--module-change textarea {
    background-color: #fff4e6;
}

.tag--travel-leave .tag-content-box,
.tag--travel-leave textarea {
    background-color: #edf2ff;
}

.tag--sick-leave .tag-content-box,
.tag--sick-leave textarea {
    background-color: #fff5f5;
}

.tag-content-box {
    padding: 1.2rem;
    min-height: 6.4rem;
    width: 100%;
    border-radius: 10px;
}

textarea {
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-family: inherit;
    line-height: 1.8;
    width: 100%;
    resize: none;
    overflow-y: scroll;
    min-height: 3.2rem;
}

#btn-save {
    width: fit-content;
}
