<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- GOOGLE FONTS (FONT FAMILY = INTER) -->
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />

        <!-- CSS STYLESHEETS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='./css/general.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='./css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='./css/forms.css')}}"
        />

        <!-- JAVASCRIPT FILES -->
        <script
            defer
            src="{{url_for('static', filename='./js/script.js')}}"
        ></script>

        <title>InstantInbox &mdash; {{title}}</title>
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <a href="/">
                <img
                    src="{{ url_for('static', filename='./images/logo.png') }}"
                    alt="InstantInbox logo"
                    class="logo"
                />
            </a>
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <li><a href="/" class="main-nav-link">Home</a></li>
                    <li>
                        <a href="/about" class="main-nav-link">About</a>
                    </li>
                    <li>
                        <button id="log-in-btn" class="btn btn--nav">
                            Log in
                        </button>
                    </li>
                    <li>
                        <button id="create-account-btn" class="btn btn--filled">
                            Create Account
                        </button>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- LOG IN FORM -->
        <form id="log-in-form">
            <h2>Log In</h2>
            <button class="close-btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="close-icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                    />
                </svg>
            </button>
            <div class="form-fields">
                <!-- EMAIL -->
                <div>
                    <label for="log-in-email" id="log-in-email">Email</label>
                    <input
                        type="email"
                        name="log-in-email"
                        id="log-in-email"
                        required
                    />
                </div>

                <!-- PASSWORD -->
                <div>
                    <label for="log-in-password">Password</label>
                    <input
                        type="password"
                        name="log-in-password"
                        id="log-in-password"
                        required
                    />
                </div>
            </div>
            <button
                type="submit"
                class="btn log-in--btn"
                id="log-in-submit-btn"
            >
                Log In
            </button>
        </form>

        <!-- CREATE ACCOUNT FORM -->
        <form id="create-account-form">
            <h2>Create Account</h2>
            <button class="close-btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="close-icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                    />
                </svg>
            </button>

            <div class="form-fields">
                <!-- FIRST AND LAST NAME -->
                <div>
                    <div class="names">
                        <div>
                            <label for="first-name">First Name</label>
                            <input
                                type="text"
                                name="first-name"
                                id="first-name"
                                required
                            />
                        </div>
                        <div>
                            <label for="last-name">Last Name</label>
                            <input
                                type="text"
                                name="last-name"
                                id="last-name"
                                required
                            />
                        </div>
                    </div>
                </div>

                <!-- EMAIL -->
                <div>
                    <label for="create-account-email">Email</label>
                    <input
                        type="email"
                        name="create-account-email"
                        id="create-account-email"
                        required
                    />
                </div>

                <!-- PASSWORD & CONFIRM PASSWORD -->
                <div>
                    <div class="passwords">
                        <div>
                            <label for="create-account-password"
                                >Password</label
                            >
                            <input
                                type="password"
                                name="create-account-password"
                                id="create-account-password"
                                required
                            />
                        </div>
                        <div>
                            <label for="create-account-confirm-password"
                                >Confirm Password</label
                            >
                            <input
                                type="password"
                                name="create-account-confirm-password"
                                id="create-account-confirm-password"
                                required
                            />
                        </div>
                    </div>
                </div>
            </div>
            <button
                type="submit"
                id="create-account-submit-btn"
                class="btn create-account--btn"
            >
                Create Account
            </button>
        </form>

        {% block content %} {% endblock %}

        <!-- FOOTER -->
        <footer>
            <div class="container footer--container">
                <a href="/">
                    <img
                        src="{{ url_for('static', filename='./images/logo.png') }}"
                        alt="InstantInbox logo"
                        class="logo"
                    />
                </a>
                <p class="builder">
                    Built by
                    <a
                        href="https://github.com/AV2001"
                        target="_blank"
                        class="footer-link"
                        >Anirudh Vadlamani</a
                    >
                </p>
            </div>
        </footer>
    </body>
</html>
