{% extends 'base.html' %} {% block content %}

<script>
    async function fetchInbox() {
        const response = await fetch('/fetch-emails');
        const data = await response.json();
        const { email_address, messages } = data;

        console.log(email_address);
        console.log(messages);

        // Store the email address in local/session storage
        sessionStorage.setItem('email_address', email_address);

        // Update the frontend with the email address and messages
        document.getElementById('email-address').innerText = email_address;
        const messagesList = document.getElementById('messages');

        messages.forEach((message) => {
            console.log(message);

            const messageElement = document.createElement('li');
            messageElement.innerHTML = `
                    <strong>From:</strong> ${message.from.emailAddress.name} (${message.from.emailAddress.address})<br>
                    <strong>Subject:</strong> ${message.subject} <br>
                    <strong>Content:</strong> ${message.bodyPreview}
                `;
            messagesList.appendChild(messageElement);
        });
    }
    window.onload = fetchInbox;
</script>

<!-- MAIN -->
<main>
    <h1>Welcome, <span id="email-address"></span></h1>
    <h2>Inbox</h2>
    <ul id="messages"></ul>
</main>
{% endblock content %}
