{% extends 'base.html' %} {% block content %}

<script>
    async function fetchInbox() {
        const response = await fetch('/fetch-emails');
        const data = await response.json();
        const { email_address, messages } = data;

        // Store the email address in local/session storage
        sessionStorage.setItem('email_address', email_address);

        messages.forEach((message) => {
            if (!message.isRead) {
                const htmlContent = message.body.content;

                // Create a temporary DOM element
                const tempElement = document.createElement('div');

                // Set the HTML content as the innerHTML of the temporary element
                tempElement.innerHTML = htmlContent;

                // Extract the text content from the temporary element
                const textContent =
                    tempElement.textContent || tempElement.innerText;

                const sectionEmails = document.querySelector('.section-emails');
                const container = document.querySelector('.container');
                const emailCard = document.createElement('figure');
                const emailAddress = document.createElement('p');
                const fullName = document.createElement('p');
                const emailSubject = document.createElement('p');
                const emailContent = document.createElement('p');

                emailContent.textContent = textContent;

                emailCard.classList.add('email-card');
                emailAddress.classList.add('email-address');
                fullName.classList.add('full-name');
                emailSubject.classList.add('email-subject');

                emailAddress.textContent = message.from.emailAddress.address;
                fullName.textContent = message.from.emailAddress.name;
                emailSubject.textContent = message.subject;

                emailCard.appendChild(fullName);
                emailCard.appendChild(emailAddress);
                emailCard.appendChild(emailSubject);

                sectionEmails.appendChild(emailCard);
            }
        });
    }
    window.onload = fetchInbox;
</script>

<!-- MAIN -->
<main>
    <div class="container inbox-container">
        <aside class="side-navigation">
            <button id="inbox" class="btn-side-nav selected">Inbox</button>
            <button id="tags" class="btn-side-nav">Tags</button>
        </aside>
        <section class="section-emails"></section>
    </div>
</main>
{% endblock content %}
