<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- GOOGLE FONTS (FONT FAMILY = INTER) -->
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- CSS STYLESHEETS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='./css/general.css') }}"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='./css/style.css') }}"
        />

        <title>InstantInbox &mdash; Home</title>
    </head>
    <body>
        <!-- HEADER -->
        <header class="main-header">
            <a href="#">
                <img
                    src="{{ url_for('static', filename='./images/logo.png') }}"
                    alt="InstantInbox logo"
                    class="logo"
                />
            </a>
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <li><a href="#" class="main-nav-link">Home</a></li>
                    <li><a href="#" class="main-nav-link">About</a></li>
                    <li><a href="#" class="main-nav-link">Log in</a></li>
                    <li>
                        <a href="#" class="main-nav-link nav-cta"
                            >Create Account</a
                        >
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>
